.ui-form-group {
    margin-bottom: 25px; /* Espacio entre los campos */
}

.ui-label {
    display: flex;
    font-size: 0.9em;
    color: #38739C;
    margin-bottom: 8px;
    font-weight: bold; /* Hacer la etiqueta más negrita */
}

.ui-input-field {
    width: 100%;
    padding: 10px 15px; /* Padding solo vertical, sin padding horizontal interno */
    border: none;
    background-color: #f5f5f5; /* Fondo gris claro */
    font-size: 1em;
    box-sizing: border-box; 
    border-bottom: 2px solid #ccc; /* Línea gris inferior por defecto */
    transition: border-bottom-color 0.3s ease, background-color 0.3s ease;
}

/* Estilo que simula la línea azul que aparece al hacer click/foco */
.ui-input-field:focus {
    outline: none; 
    border-bottom-color: #387db6; /* Azul visible al enfocar */
    background-color: #ffffff; /* Fondo blanco al enfocar */
}

/* Estilo específico para el selector (para asegurar que se vea como input) */
.ui-selector-field {
    height: 40px; /* Altura consistente */
    cursor: pointer;
    padding: 10px 5px; /* Ajustar padding para el texto del selector */
}