.crear-curso-container {
    max-width: 600px; /* Más pequeño ya que solo tiene dos selectores */
    margin: 40px auto;
    padding: 0;
}

.titulo-formulario {
    font-size: 2.5em;
    font-weight: 700;
    text-align: left;
    margin-bottom: 50px;
}

.form-row-anio-division {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; /* AHORA SON 3 COLUMNAS */
    gap: 30px; 
    width: 100%; /* Asegura que use el ancho disponible */
    max-width: 700px; /* Un poco más ancho para acomodar 3 */
    margin: 0 auto 40px auto; 
}

.form-action-area-curso {
    margin-top: 60px;
    text-align: center;
}

.form-action-area-curso {
    margin-top: 30px;
    display: flex;
    justify-content: center; /* Alinea los botones a la derecha */
    gap: 15px; /* Espacio entre Cancelar y Guardar */
}

.crear-curso-container select {
    border: none; /* Sin bordes laterales */
    border-bottom: 2px solid #38739C;
}