.gestion-usuarios-container {
    max-width: 800px; /* Ancho máximo para el formulario */
    margin-left: 40px; /* Empuja el formulario a la derecha desde la barra lateral */
    padding: 20px 0px; /* Ajusta el padding si es necesario */
    /* El background-color lo manejaremos en un nivel superior (ej. DisposicionPrincipal o App.css) */
}

.gestion-usuarios-container h1 {
    font-size: 2.5em; 
    font-weight: 600; 
    margin-bottom: 35px; 
    color: #333;
    text-align: left; 
}

/* Ajustes para la fila de DNI y Tipo de Usuario */
.form-row-dni-tipo {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Mantiene la proporción */
    gap: 30px; /* Espacio entre DNI y Tipo de Usuario */
    margin-bottom: 25px;
}

/* Área del botón Guardar */
.form-action-area {
    margin-top: 40px;
    text-align: center; /* Alinear el botón a la izquierda, no centrado */
}
